<div>

<h1>{{user.name}}'s LOCALIVING Profile</h1>

<h4>Name: {{user.name}}</h4>
<h4>Email Address: <a href="mailto:{{user.email}}">{{user.email}}</a></h4>
<h4>Home Neighborhood: {{user.home}}</h4>

<a href="/users/{{user._id}}/delete">Delete Account</a>
<h4>Curious about events in your neighborhood? <a href="/neighborhoods">Visit our Neighborhood Index</a></h4>
<a href="/">LOCALIVING's Homepage</a>




</div>




{{!-- mongoose.findby --}}