<main>
    <div>
        <h1>NEIGHBORHOODS in LOCALIVING's DATABASE</h1>
        <h3><a href="/neighborhoods/new">Suggest a New Neighborhood</a></h3>


        {{#each neighborhoods}}
        <div class="row">
            <div class="col s12 m6 l3 neighborhood-panel">
                <div class="card">
                    <div class="card-image">
                        <img src="{{this.image}}">
                    </div>
                    <div class="card-content">
                        <h3 id="card-title"><a href="/neighborhoods/{{this._id}}/happenings">{{this.name}}</a></h3>
                        <p>{{this.description}}</p>
                    </div>
                    <div class="card-action">
                        <a href="/neighborhoods/{{this._id}}/happenings">Read More</a>
                    </div>
                </div>
            </div>
            {{/each}}



        </div>
</main>