<div>
    <h1>Events in {{neighborhood.name}}</h1>


    {{#each neighborhood.happenings}}
        <div>
 
            <a href="/neighborhoods/{{../neighborhood._id}}/happenings/{{this._id}}">{{this.name}}</a>
            - {{this.date}}  
            
        </div>        

    {{/each}}

    <h6>
        <a href="/neighborhoods/{{neighborhood._id}}/happenings/new">Submit a New {{neighborhood.name}} Event</a>
        <a href="/neighborhoods">Back to Neighborhoods List</a>
        <a href="/">Home</a>

    </h6>

</div>

