<div>
    <h1>{{neighborhood.name}}</h1>

    <h3>About {{neighborhood.name}}: {{neighborhood.description}}</h3>
    <h3>Located {{neighborhood.location}}</h3>

    <h2>Events in {{neighborhood.name}}</h2>


    {{#each neighborhood.happenings}}
        <div>
            <a href="/neighborhoods/{{../neighborhood._id}}/happenings/{{this._id}}">{{this.name}}</a>
            - {{this.date}}  
        </div>        
    {{/each}}

    <br>
     <img src="{{neighborhood.image}}" height="250">

    <h5>
        <a href="/neighborhoods/{{neighborhood._id}}/happenings/new">Submit a New {{neighborhood.name}} Event</a>
        <a href="/neighborhoods">Back to Neighborhoods List</a>
        <a href="/">Home</a>

    </h5>

</div>